# Python virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*

# Large / temporary files
*.bak
*.tmp

# HTML exports
*.html
